form {
   align-content: center;

   width: 50%;
   height: 50px;
   margin-left: 20%;
   }
 label {
    align-content: center;
   height: 20px;
    width:20px;
 }

 input{ 
	font-family: 'Helvetica', serif; 
	width: 50%; 
	font-size: 20px; 
	padding: 12px 20px; 
	margin: 8px 0; 
	border: none; 
	border-bottom: 2px solid #767474; 
} 

input[type=submit] { 
	font-family: 'Helvetica', serif; 
 
	background-color: #767474; 
	border: none; 
	color: white; 
	padding: 16px 32px; 
	margin: 4px 2px; 
	border-radius: 10px; 
} 